<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="table-responsive">
        <table class="table text-start align-middle table-hover mb-0">
            <thead>
            <tr class="text-white">
                <th scope="col">Id</th>
                <th scope="col">location</th>
                <th scope="col">registerDate</th>
                <th scope="col">temperature</th>
                <th scope="col">humidity</th>
                <th scope="col">conditionIcon</th>
                <th scope="col">Show</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${weatherlist}">
                <td th:text="${weather.id}"></td>
                <td th:text="${weather.location}"></td>
                <td th:text="${weather.registerDate}"></td>
                <td th:text="${weather.temperature}"></td>
                <td th:text="${weather.humidity}"></td>
                <td>
                    <img th:src="@{weather.conditionIcon}"/>
                </td>
                <td><a class="btn btn-sm btn-success" th:href="@{'/show/'+${weather.id}}">Show</a></td>
                <td><a class="btn btn-sm btn-primary" th:href="@{'/delete/'+${weather.id}}">Delete</a></td>
            </tr>

            </tbody>
        </table>

    </div>

    <div th:if = "${totalPages > 1}" class="align-items-center" role="toolbar">
        <div class = "row col-sm-10" >
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/list/' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                        </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/list/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1 ">
                <a th:if="${currentPage < totalPages}" th:href="@{'/list/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>

</body>
</html>